/* Styles for the CRD schema reference documentation */

ul.crd-index {
  margin-top: 2em;
  margin-bottom: 2em;
}

.crd-index .tag {
  background-color: #ccc;
  padding: 2px 7px;
  font-size: 14px;
  border-radius: 3px;
}
.crd-index .tag-provider {
  text-transform: uppercase;
}
.crd-index .tag-provider-aws {
  background-color: #ed9235;
  color: #232f3b;
}
.crd-index .tag-provider-azure {
  background-color: #1773bd;
  color: #fff;
}
.crd-index .tag-topic {
  background-color: #5eaebb;
  color: #fff;
}

dl.crd-meta {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #999;
}

.crd-meta dt {
  flex-basis: 20%;
  margin: 0;
  padding: 4px 4px;
  border-top: 1px solid #999;
  font-weight: bold;
}

.crd-meta dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 4px 4px;
  border-top: 1px solid #999;
}

.crd-meta a.version {
  
  margin-right: 10px;
}

.crd-schema-version {
  border-top: 1px solid #ccc;
}

.property {
  margin-bottom: 1em;
}

.property-header h3 {
  margin: 0;
  margin-left: -0.1em;
  word-wrap: break-word;
  white-space: normal;
}

.property-description, .property-meta {
  margin: 5px 0
}

.property-type {
  background-color: $primary;
  color: white;
  font-size: 14px;
  line-height: 22px;
  padding: 3px 6px;
  text-transform: uppercase;
}

.property-required {
  background-color: $secondary;
  font-size: 14px;
  line-height: 22px;
  padding: 3px 6px;
  text-transform: uppercase;
}
