<div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        {{ with .Site.Params.copyright }}<small class="text-white">Copyright {{ .}} a Series of LF Projects, LLC</small>{{ end }}
        <small class="text-white"><br/>For website terms of use, trademark policy and other project policies please see <a href="https://lfprojects.org/policies/" class="text-white" target="_blank" rel="noopener">lfprojects.org/policies/</a>.</small>
    {{ if not .Site.Params.ui.footer_about_disable }}
      {{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
    {{ end }}
</div>
